Terrdata/Objects/FE_Backup/*
Campaign/Auto Save.*
Campaign/*.cam
Campaign/*.fmap
Campaign/*.frc
Campaign/*.his
Campaign/*.iff
Campaign/*.ini
Campaign/*.twx
!Campaign/save0*
!Campaign/save1*
!Campaign/save2*
client_secrets.json
mycreds.txt