#UI BMS4, created by Revientor(2009)
[WINDOW]
[SETUP] COMMLINK_WIN C_TYPE_EXCLUSIVE 330 248
[XY] 226 152 
[RANGES] 0 0 1024 768 330 248
[CLIENTAREA] 20 70 308 140 1
[FONT] OCR_EXT_14
[GROUP] 19600
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 326 22 2 "Titlebar"

[TILE] 
[SETUP] NID 0 COMLINK
[XYWH] 0 0 330 248
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL 

[TEXT] 
[SETUP] TITLE_LABEL C_TYPE_LEFT 
[XY] 10 3 
[FONT] BANK_GOTHIC_20 
[FGCOLOR] 230 230 230 
[FLAGBITON] C_BIT_ABSOLUTE 

[TEXT]
[SETUP] COMMLINK_MESSAGE C_TYPE_LEFT
[XY] 5 43
[W] 280
[CLIENT] 1
[FGCOLOR] 230 230 230 
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_WORDWRAP

#[TEXT]
#[SETUP] BLOCK_MESSAGE C_TYPE_LEFT
#[SETTEXT] TXT_ARE_YOU_SURE
#[XY] 80 70
#[FGCOLOR] 230 230 230 
#[FONT] OCR_EXT_12

[BUTTON] 
[SETUP] ALERT_CANCEL, C_TYPE_NORMAL, 211 209
[IMAGES] COMMLINKBUT1, COMMLINKBUT1, NULL, COMMLINKBUT1
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_16
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[FLAGBITOFF C_BIT_ENABLED
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_RETURN
[GROUP] 19600

[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 1000 4 "Intentionally off the window"
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[GROUP] 19600
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_CANCEL
[HOTKEY] DIK_ESCAPE