#UI BMS4, created by Revientor(2009)
[WINDOW]
[SETUP] EXIT_WIN C_TYPE_EXCLUSIVE 1024 768
[XY] 0 0 
[RANGES] 0 0 1024 768 1024 768
[CLIENTAREA] 210 40 410 660 1
[FONT] OCR_EXT_14
[GROUP] 19500
[CLIENTAREA] 2 2 432 22 2 "Titlebar" 
 
[BITMAP]
[SETUP] NID 0 REVIENTOR
[XY] 0 0
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON] 
[SETUP] ALERT_CANCEL, C_TYPE_NORMAL, 845 86
[IMAGES] REVEXITCANCEL, REVEXITCANCEL, NULL, REVEXITCANCEL
#[LABELALL] TXT_CANCEL
#[FONT] BANK_GOTHIC_16
#[UPCOLOR] 191 191 191
#[DOWNCOLOR] 0 255 0
#[DISCOLOR] 102 102 102
#[TEXTOFFSET] C_STATE_UP 0 -1
#[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 19500
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_ESCAPE

[BUTTON]
[SETUP] ALERT_OK C_TYPE_NORMAL, 845 16
[IMAGES] REVEXITEXIT, REVEXITEXIT, NULL, REVEXITEXIT
#[LABELALL] TXT_OK
#[FONT] BANK_GOTHIC_16
#[UPCOLOR] 191 191 191
#[DOWNCOLOR] 0 255 0
#[DISCOLOR] 102 102 102
#[TEXTOFFSET] C_STATE_UP 0 -1
#[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEDOWN
[GROUP] 19500
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_RETURN

[SCROLLBAR]
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 1 0 13 768
[CLIENT] 1
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 100
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[FLAGBITON] C_BIT_INVISIBLE
[INCREMENT] 12
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON