[WINDOW]
[SETUP] FONT_ED_WIN C_TYPE_NORMAL 446 528
[XY] 30 30
[GROUP] -100
[DRAGH] 30
[FONT] OCR_EXT_12
[RANGES] 0 0 1024 768 422 312
[CLIENTAREA] 9 54 408 136 1
[CLIENTAREA] 9 250 408 268 2
[FLAGBITON] C_BIT_DRAGABLE

[BITMAP]
[SETUP] NID 0 FONTED_TGA
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 426 6
[IMAGES] BID_CLOSE BID_CLOSE NULL NULL
[CLIENT] 0
[GROUP] -100
[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR] "Font Scroll"
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 428 37 13 176
[FLAGBITON] C_BIT_ABSOLUTE
[CLIENT] 1
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_VDRAG_ON

[SCROLLBAR] "Kerning pairs scroll"
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 428 222 13 318
[FLAGBITON] C_BIT_ABSOLUTE
[CLIENT] 2
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_VDRAG_ON

[TEXT]
[SETUP] NID 0
[SETTEXT] FONTED_TXT_FONTNAME
[FGCOLOR] 255 255 255
[FONT] OCR_EXT_12
[XY] 95 34
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] FONT_NAME 
[FIXEDWIDTH] 30
[FGCOLOR] 255 255 255
[SETTEXT] TXT_EMPTY
[FONT] OCR_EXT_12
[XY] 100 34
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_PITCHSIZE
[XY] 305 34
[FGCOLOR] 255 255 255
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] PITCH_SIZE
[FIXEDWIDTH] 10
[FGCOLOR] 255 255 255
[SETTEXT] TXT_EMPTY
[XY] 310 34
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX]
[SETUP] CUR_FONT 0
[XYWH] 260 5 122 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] DEFAULT C_TYPE_ITEM FONTED_TXT_FONT_1
[ADDITEM] HAETTEN_14 C_TYPE_ITEM FONTED_TXT_FONT_2
[ADDITEM] HAETTEN_16 C_TYPE_ITEM FONTED_TXT_FONT_3
[ADDITEM] HAETTEN_18 C_TYPE_ITEM FONTED_TXT_FONT_4
[ADDITEM] HAETTEN_24 C_TYPE_ITEM FONTED_TXT_FONT_5
[ADDITEM] OCR_EXT_10 C_TYPE_ITEM FONTED_TXT_FONT_6
[ADDITEM] OCR_EXT_12 C_TYPE_ITEM FONTED_TXT_FONT_7
[ADDITEM] OCR_EXT_14 C_TYPE_ITEM FONTED_TXT_FONT_8
[ADDITEM] OCR_EXT_16 C_TYPE_ITEM FONTED_TXT_FONT_9
[ADDITEM] OCR_EXT_24 C_TYPE_ITEM FONTED_TXT_FONT_10
[ADDITEM] OCR_A_56 C_TYPE_ITEM FONTED_TXT_FONT_11
[ADDITEM] BANK_GOTHIC_14 C_TYPE_ITEM FONTED_TXT_FONT_12
[ADDITEM] BANK_GOTHIC_16 C_TYPE_ITEM FONTED_TXT_FONT_13
[ADDITEM] BANK_GOTHIC_20 C_TYPE_ITEM FONTED_TXT_FONT_14
[ADDITEM] BANK_GOTHIC_24 C_TYPE_ITEM FONTED_TXT_FONT_15
[ADDITEM] BANK_GOTHIC_26 C_TYPE_ITEM FONTED_TXT_FONT_16
[ADDITEM] ARIAL_12 C_TYPE_ITEM FONTED_TXT_FONT_17
[ADDITEM] ARIAL_NARROW_12 C_TYPE_ITEM FONTED_TXT_FONT_18
[ADDITEM] ARIAL_NARROW_14 C_TYPE_ITEM FONTED_TXT_FONT_19
[ADDITEM] ARIAL_NARROW_16 C_TYPE_ITEM FONTED_TXT_FONT_20
[ADDITEM] 100 C_TYPE_ITEM FONTED_TXT_FONT_CUSTOM

[EDITBOX]
[SETUP] FONT_NAME_BOX C_TYPE_TEXT
[MAXLEN] 19
[FONT] OCR_EXT_12
[FGCOLOR] 0 255 0
[CURSORCOLOR] 255 255 255
[XY] 10 224 
[WH] 250 26
[FLAGBITON] C_BIT_VCENTER
[CURSOR] CRSR_TEXT

[BUTTON]
[SETUP] FONTED_CREATE C_TYPE_NORMAL 320 224
[BUTTONTEXT] C_STATE_0 FONTED_TXT_CREATE
[BUTTONTEXT] C_STATE_1 FONTED_TXT_CREATE
[FONT] HAETTEN_16
[UPCOLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] FONTED_SAVE C_TYPE_NORMAL 380 224
[BUTTONTEXT] C_STATE_0 FONTED_TXT_SAVE
[BUTTONTEXT] C_STATE_1 FONTED_TXT_SAVE
[FONT] HAETTEN_16
[UPCOLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] REFUEL_1
[XY] 20 192
[FIXEDWIDTH] 10

[BUTTON] 
[SETUP] LEAD_LESS C_TYPE_NORMAL 10 196
[IMAGES] GRN_EARLIER GRN_EARLIER_DOWN NULL GRN_EARLIER_DOWN 
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP

[BUTTON] 
[SETUP] LEAD_MORE C_TYPE_NORMAL 40 196
[IMAGES] GRN_LATER GRN_LATER_DOWN NULL GRN_LATER_DOWN
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP

[TEXT]
[SETUP] REFUEL_2
[FIXEDWIDTH] 10
[XY] 80 192

[BUTTON] 
[SETUP] WIDTH_LESS C_TYPE_NORMAL 70 196
[IMAGES] GRN_EARLIER GRN_EARLIER_DOWN NULL GRN_EARLIER_DOWN 
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP

[BUTTON] 
[SETUP] WIDTH_MORE C_TYPE_NORMAL 100 196
[IMAGES] GRN_LATER GRN_LATER_DOWN NULL GRN_LATER_DOWN
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP

[TEXT]
[SETUP] REFUEL_3
[FIXEDWIDTH] 10
[XY] 130 192

[BUTTON] 
[SETUP] TRAIL_LESS C_TYPE_NORMAL 120 196
[IMAGES] GRN_EARLIER GRN_EARLIER_DOWN NULL GRN_EARLIER_DOWN 
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP

[BUTTON] 
[SETUP] TRAIL_MORE C_TYPE_NORMAL 150 196
[IMAGES] GRN_LATER GRN_LATER_DOWN NULL GRN_LATER_DOWN
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
