#UI BMS4, created by Revientor and Naldo (2009)
#This is the WEATHER Screen when you click on the WTH button
#on the toolbar on the right of the campaign module
[WINDOW]
[SETUP] WEATHER_WARNING C_TYPE_NORMAL 349 149
[XY] 250 100
[DRAGH] 25
[RANGES] 0 0 1024 768 349 149
[CLIENTAREA] 0 0 349 239 0 "entire window"
[FONT] HAETTEN_18
[GROUP] 1235
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 679 22 4

[TILE] 
[SETUP] NID 0 WEATHERWARNING 
[XYWH] 0 0 346 149
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL 

[TEXT] 
[SETUP] NID C_TYPE_LEFT 
[SETTEXT] TXT_WTH_UNABLE 
[XY] 35 3 
[FONT] BANK_GOTHIC_20 
[FGCOLOR] 230 230 230 
[FLAGBITON] C_BIT_ABSOLUTE 

[TEXT] 
[SETUP] NID C_TYPE_LEFT 
[SETTEXT] TXT_WTH_SAVEFIRST 
[XY] 75 70
[FONT] BANK_GOTHIC_20 
[FGCOLOR] 230 230 230 
[FLAGBITON] C_BIT_ABSOLUTE 

######Close Window widget
[BUTTON]
[SETUP] CLOSE_WINDOW C_TYPE_NORMAL, 321 4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 1235
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON