[WINDOW]
[SETUP] DIALOG_WIN C_TYPE_EXCLUSIVE 216 150
[XY] 300 250
[RANGES] 0 0 1024 768 216 150
[CLIENTAREA] 0 0 216 150 0 "entire window"
[FONT] HAETTEN_18
[GROUP] 55000
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE

[CLIENTAREA] 2 2 212 22 1

[BOX] "inner box" 
[SETUP] NID 0 
[XYWH] 1 1 213 147 
[COLOR] 0 80 127 
[FLAGBITON] C_BIT_ABSOLUTE 

[LINE] "title/client seperator" 
[SETUP] NID 0 
[XYWH] 2 26 212 4
[COLOR] 0 80 127 
[FLAGBITON] C_BIT_ABSOLUTE 

[LINE] "bottom" 
[SETUP] NID 0 
[XYWH] 2 145 210 3
[COLOR] 0 80 127 
[FLAGBITON] C_BIT_ABSOLUTE 

[LINE] "Left" 
[SETUP] NID 0 
[XYWH] 2 30 3 120
[COLOR] 0 80 127 
[FLAGBITON] C_BIT_ABSOLUTE 

[LINE] "right" 
[SETUP] NID 0 
[XYWH] 211 30 3 120
[COLOR] 0 80 127 
[FLAGBITON] C_BIT_ABSOLUTE 

[BITMAP] "TitleStrip" 
[SETUP] NID 0 TITLE_GRADE_300 
[XY] 0 0 
[CLIENT] 1 

[TILE] "Client" 
[SETUP] NID 0 CLIENT_GRADE_150
[XYWH] 5 30 206 115
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL 

[BOX] "Outerbox" 
[SETUP] NID 0 
[XYWH] 0 0 215 149
[FLAGBITON] C_BIT_ABSOLUTE 
[COLOR] 0 0 0 


[TEXT]
[SETUP] TITLE_BAR C_TYPE_RIGHT
[FIXEDWIDTH] 20
[SETTEXT] TXT_DIALOG 
[XY] 6 3 
[FONT] BANK_GOTHIC_20 
[FGCOLOR] 230 230 230 
[FLAGBITON] C_BIT_ABSOLUTE 

[TEXT]
[SETUP] MESSAGE1 C_TYPE_CENTER
[FIXEDWIDTH] 30
[SETTEXT] TXT_EMPTY
[XY] 100 50
[W] 180
[FGCOLOR] 230 230 230 
[FONT] BANK_GOTHIC_12
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_WORDWRAP

#[TEXT]
#[SETUP] MESSAGE2 C_TYPE_CENTER
#[FIXEDWIDTH] 30
#[SETTEXT] TXT_NULL
#[XY] 100 65
#[FGCOLOR] 230 230 230 
#[FONT] BANK_GOTHIC_12
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HCENTER

#[TEXT]
#[SETUP] MESSAGE3 C_TYPE_CENTER
#[FIXEDWIDTH] 30
#[SETTEXT] TXT_NULL
#[XY] 100 80
#[FGCOLOR] 230 230 230 
#[FONT] BANK_GOTHIC_12
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HCENTER

[BUTTON]
[SETUP] CANCEL C_TYPE_NORMAL, 4 115
[IMAGES] BID_COMMS_SMALL_UP, BID_COMMS_SMALL_DOWN, NULL, BID_COMMS_SMALL_DIS
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_CANCEL
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[GROUP] 55000
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_ESCAPE

[BUTTON]
[SETUP] OK C_TYPE_NORMAL, 110 115
[IMAGES] BID_COMMS_SMALL_UP, BID_COMMS_SMALL_DOWN, NULL, BID_COMMS_SMALL_DIS
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[GROUP] 55000
[USERDATA] C_STATE_0 15
[USERDATA] C_STATE_1 60
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_RETURN

#[BUTTON]
#[SETUP] CLOSE_WINDOW,C_TYPE_NORMAL 196 6
#[IMAGES] BID_CLOSE BID_CLOSE NULL NULL
#[GROUP] 55000
#[HOTKEY] DIK_ESCAPE
#[CURSOR] CRSR_F16_ON
#[HELPTEXT] HELP_CANCEL
