#UI BMS4, created by Revientor(2009)
#This window displays the MP "Rules Of Engagement" settings ("Authorize/Comply")
[WINDOW]
[SETUP] INFO_WIN C_TYPE_EXCLUSIVE 686 402
[XY] 90 90 
[RANGES] 0 0 1024 768 686 402
[FONT] OCR_EXT_12
[GROUP] 97000
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 682 22 1 "Titlebar"

[TILE] 
[SETUP] NID 0 ROE 
[XYWH] 0 0 686 402
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT] 
[SETUP] NID C_TYPE_LEFT 
[SETTEXT] TXT_MP_OPTIONS 
[XY] 10 3 
[FONT] BANK_GOTHIC_20 
[FGCOLOR] 230 230 230 
[FLAGBITON] C_BIT_ABSOLUTE 

######CONTROLS######
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_GAME_NAME
[XY] 105 37
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_LEFT

[BOX] "Game name"
[SETUP] NID 0
[XYWH] 362 36 206 17
[COLOR] 180 180 180

[EDITBOX]
[SETUP] INFO_GAMENAME C_TYPE_TEXT
[XYWH] 364 37 203 15
[BGCOLOR] 0 63 30
[MAXLEN] 19
[STRING] TXT_EMPTY
[FGCOLOR] 0 255 0
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_14
[CURSOR] CRSR_TEXT


[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_PASSWORD
[XY] 105 62
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_LEFT

[BOX]
[SETUP] NID 0
[XYWH] 362 61 206 17
[COLOR] 180 180 180

[EDITBOX]
[SETUP] INFO_PASSWORD C_TYPE_PASSWORD
[XYWH] 364 62 203 15
[BGCOLOR] 0 63 30
[MAXLEN] 19
[FGCOLOR] 0 255 0
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_14
[CURSOR] CRSR_TEXT


[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_MAX_PLAYERS
[XY] 105 89
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_LEFT

[BOX]
[SETUP] NID 0
[XYWH] 362 86 207 17
[COLOR] 180 180 180

[EDITBOX]
[SETUP] MAX_PLAYERS C_TYPE_INTEGER
[XYWH] 364 87 203 15
[BGCOLOR] 0 63 30
[MAXINTEGER] 65536
[MAXLEN] 5
[INTEGER] 16
[FGCOLOR] 0 255 0
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_14
[CURSOR] CRSR_TEXT


[BUTTON] 
[SETUP] INFO_CANCEL, C_TYPE_NORMAL, 440 359
[IMAGES] ROEBUT1, ROEBUT1, NULL, ROEBUT1
[LABELALL] TXT_CANCEL
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 97000
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_ESCAPE

[BUTTON]
[SETUP] INFO_COMPLY, C_TYPE_NORMAL, 555 359
[IMAGES] ROEBUT2, ROEBUT2, NULL, ROEBUT2
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 97000
[HOTKEY] DIK_RETURN
[CURSOR] CRSR_F16_ON

######BACKGROUND ART######
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_CURRENT
[XY] 310 130
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_REQUIRED
[XY] 170 130
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16

######SETUP CONTROLS######
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_FLTMODEL
[XY] 21 151
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[TILE] 
[SETUP] NID 0 ROELIST1
[XYWH] 170 152 112 15
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL 

[LISTBOX] 
[SETUP] FLTMOD_REQ C_TYPE_CUSTOM
[XYWH] 170 152 112 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[DROPDOWN] BID_DROPDOWN
[ADDITEM] FLTMOD_1 C_TYPE_ITEM TXT_ACCURATE
[ADDITEM] FLTMOD_2 C_TYPE_ITEM TXT_MODERATE
[ADDITEM] FLTMOD_3 C_TYPE_ITEM TXT_SIMPLIFIED
[ADDITEM] FLTMOD_4 C_TYPE_ITEM TXT_EASY
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TILE] 
[SETUP] NID 0 ROELIST1A
[XYWH] 310 152 112 15
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL 

[LISTBOX] 
[SETUP] FLTMOD_CUR 0
[XYWH] 310 152 112 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] FLTMOD_1 C_TYPE_ITEM TXT_ACCURATE
[ADDITEM] FLTMOD_2 C_TYPE_ITEM TXT_MODERATE
[ADDITEM] FLTMOD_3 C_TYPE_ITEM TXT_SIMPLIFIED
[ADDITEM] FLTMOD_4 C_TYPE_ITEM TXT_EASY
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

#Dee-Jay 2018-02-25 : Disabled since new weapon effect enhancement
#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_WEAPONEFFECTS
#[XY] 21 203
#[FGCOLOR] 230 230 230
#[FONT] BANK_GOTHIC_16
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_LEFT

#Dee-Jay 2018-02-25 : Disabled since new weapon effect enhancement
#[TILE] 
#[SETUP] NID 0 ROELIST3
#[XYWH] 170 204 112 15
#[FLAGBITON] C_BIT_ABSOLUTE 
#[FLAGBITON] C_BIT_HORIZONTAL

#Dee-Jay 2018-02-25 : Disabled since new weapon effect enhancement
#[LISTBOX] 
#[SETUP] WEAPEFF_REQ C_TYPE_CUSTOM
#[XYWH] 170 204 112 15
#[NORMCOLOR] 230 230 230
#[SELCOLOR] 0 255 0
#[FONT] OCR_EXT_12
#[FLAGBITON] C_BIT_ABSOLUTE
#[DROPDOWN] BID_DROPDOWN
#[ADDITEM] WEAPEFF_1 C_TYPE_ITEM TXT_ACCURATE 
#[ADDITEM] WEAPEFF_2 C_TYPE_ITEM TXT_ENHANCED 
#[ADDITEM] WEAPEFF_3 C_TYPE_ITEM TXT_EXAGGERATED
#[CURSOR] CRSR_LIST_F16
#[SOUNDBITE] SND_MENU C_STATE_DOWN

#Dee-Jay 2018-02-25 : Disabled since new weapon effect enhancement
#[TILE] 
#[SETUP] NID 0 ROELIST3A
#[XYWH] 310 204 112 15
#[FLAGBITON] C_BIT_ABSOLUTE 
#[FLAGBITON] C_BIT_HORIZONTAL

#Dee-Jay 2018-02-25 : Disabled since new weapon effect enhancement
#[LISTBOX] 
#[SETUP] WEAPEFF_CUR 0
#[XYWH] 310 204 112 15
#[NORMCOLOR] 230 230 230
#[SELCOLOR] 0 255 0
#[FONT] OCR_EXT_12
#[DROPDOWN] BID_DROPDOWN
#[FLAGBITON] C_BIT_ABSOLUTE
#[ADDITEM] WEAPEFF_1 C_TYPE_ITEM TXT_ACCURATE 
#[ADDITEM] WEAPEFF_2 C_TYPE_ITEM TXT_ENHANCED 
#[ADDITEM] WEAPEFF_3 C_TYPE_ITEM TXT_EXAGGERATED
#[CURSOR] CRSR_LIST_F16
#[SOUNDBITE] SND_MENU C_STATE_DOWN


[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_REFUELING
[XY] 21 177
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[TILE] 
[SETUP] NID 0 ROELIST2
[XYWH] 170 178 112 15
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[LISTBOX] 
[SETUP] REFUELING_REQ C_TYPE_CUSTOM
[XYWH] 170 178 112 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[DROPDOWN] BID_DROPDOWN
[ADDITEM] REFUEL_1 C_TYPE_ITEM TXT_REFUEL_REALISTIC
[ADDITEM] REFUEL_2 C_TYPE_ITEM TXT_REFUEL_MODERATED
[ADDITEM] REFUEL_3 C_TYPE_ITEM TXT_REFUEL_SIMPLIFIED
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TILE] 
[SETUP] NID 0 ROELIST2A
[XYWH] 310 178 112 15
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[LISTBOX] 
[SETUP] REFUELING_CUR 0
[XYWH] 310 178 112 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] REFUEL_1 C_TYPE_ITEM TXT_REFUEL_REALISTIC
[ADDITEM] REFUEL_2 C_TYPE_ITEM TXT_REFUEL_MODERATED
[ADDITEM] REFUEL_3 C_TYPE_ITEM TXT_REFUEL_SIMPLIFIED
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN


[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PADLOCKING
[XY] 21 203
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[TILE] 
[SETUP] NID 0 ROELIST4
[XYWH] 170 204 112 15
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[LISTBOX] 
[SETUP] PADLOCK_REQ C_TYPE_CUSTOM
[XYWH] 170 204 112 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[DROPDOWN] BID_DROPDOWN
[ADDITEM] PADLOCK_1 C_TYPE_ITEM TXT_PADLOCK_REALISTIC
[ADDITEM] PADLOCK_2 C_TYPE_ITEM TXT_PADLOCK_ENHANCED
#[ADDITEM] PADLOCK_3 C_TYPE_ITEM TXT_PADLOCK_SUPER
[ADDITEM] PADLOCK_4 C_TYPE_ITEM TXT_PADLOCK_DISABLED
[STATE] 3
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TILE] 
[SETUP] NID 0 ROELIST4A
[XYWH] 310 204 112 15
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[LISTBOX] 
[SETUP] PADLOCK_CUR 0
[XYWH] 310 204 112 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] PADLOCK_1 C_TYPE_ITEM TXT_PADLOCK_REALISTIC
[ADDITEM] PADLOCK_2 C_TYPE_ITEM TXT_PADLOCK_ENHANCED
#[ADDITEM] PADLOCK_3 C_TYPE_ITEM TXT_PADLOCK_SUPER
[ADDITEM] PADLOCK_4 C_TYPE_ITEM TXT_PADLOCK_DISABLED
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN


"[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_VEHICLE_SIZE
[XY] 11 305
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[TILE] 
[SETUP] NID 0 ROENUM1
[XYWH] 304 298 16 18
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[EDITBOX]
[SETUP] VEHICLE_SIZE_READOUT_REQ C_TYPE_INTEGER
[XYWH] 305 298 16 16
[FONT] BANK_GOTHIC_16
[MAXLEN] 4
[MAXINTEGER] 5
[INTEGER] 4
[FGCOLOR] 0 255 0
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_ABSOLUTE


[LINE]
[SETUP] NID, 0 
[XYWH] 210 319 110 1
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] VEHICLE_SIZE_REQ, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 210 314 94 13
[STEPS] 4
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN


[TILE] 
[SETUP] NID 0 ROENUM1
[XYWH] 420 298 16 18
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[EDITBOX]
[SETUP] VEHICLE_SIZE_READOUT_CUR C_TYPE_INTEGER
[XYWH] 421 298 16 16
[FONT] BANK_GOTHIC_16
[MAXLEN] 4
[MAXINTEGER] 5
[INTEGER] 4
[FGCOLOR] 0 255 0
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_ABSOLUTE


[LINE]
[SETUP] NID, 0 
[XYWH] 326 319 110 1
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] VEHICLE_SIZE_CUR, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 326 314 94 13
[STEPS] 4
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN"

######CHECK BOX ITEMS######
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_INVULNERABILITY
[XY] 463 127
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[BUTTON]
[SETUP] INVULNERABILITY_REQ, C_TYPE_CUSTOM 600 125
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[USERDATA] C_STATE_0 100
[USERDATA] C_STATE_1 0
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] INVULNERABILITY_CUR, C_TYPE_CUSTOM 625 125
[BUTTONIMAGE] C_STATE_0 BID_CHK1_OFF
[BUTTONIMAGE] C_STATE_1 BID_CHK1_ON
[BUTTONIMAGE] C_STATE_2 BID_ORANGE_CHK1_ON
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[USERDATA] C_STATE_0 100
[USERDATA] C_STATE_1 0
[CURSOR] CRSR_F16_ON


[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UNLIMITED_FUEL
[XY] 463 153
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[BUTTON]
[SETUP] FUEL_REQ, C_TYPE_CUSTOM 600 151
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] FUEL_CUR, C_TYPE_CUSTOM 625 151
[BUTTONIMAGE] C_STATE_0 BID_CHK1_OFF
[BUTTONIMAGE] C_STATE_1 BID_CHK1_ON
[BUTTONIMAGE] C_STATE_2 BID_ORANGE_CHK1_ON
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON


[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UNLIMITED_CHAFFLARES
[XY] 463 179
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[BUTTON]
[SETUP] CHAFFLARES_REQ, C_TYPE_CUSTOM 600 177
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CHAFFLARES_CUR, C_TYPE_CUSTOM 625 177
[BUTTONIMAGE] C_STATE_0 BID_CHK1_OFF
[BUTTONIMAGE] C_STATE_1 BID_CHK1_ON
[BUTTONIMAGE] C_STATE_2 BID_ORANGE_CHK1_ON
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON


[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_COLLISIONS
[XY] 463 205
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[BUTTON]
[SETUP] COLLISIONS_REQ, C_TYPE_CUSTOM 600 203
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] COLLISIONS_CUR, C_TYPE_CUSTOM 625 203
[BUTTONIMAGE] C_STATE_0 BID_CHK1_OFF
[BUTTONIMAGE] C_STATE_1 BID_CHK1_ON
[BUTTONIMAGE] C_STATE_2 BID_ORANGE_CHK1_ON
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON


[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_BLACKOUT
[XY] 463 231
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[BUTTON]
[SETUP] BLACKOUT_REQ, C_TYPE_CUSTOM 600 229
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] BLACKOUT_CUR, C_TYPE_CUSTOM 625 229
[BUTTONIMAGE] C_STATE_0 BID_CHK1_OFF
[BUTTONIMAGE] C_STATE_1 BID_CHK1_ON
[BUTTONIMAGE] C_STATE_2 BID_ORANGE_CHK1_ON
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON


[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_IDTAGS
[XY] 463 257
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[BUTTON]
[SETUP] IDTAGS_REQ, C_TYPE_CUSTOM 600 255
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] IDTAGS_CUR, C_TYPE_CUSTOM 625 255
[BUTTONIMAGE] C_STATE_0 BID_CHK1_OFF
[BUTTONIMAGE] C_STATE_1 BID_CHK1_ON
[BUTTONIMAGE] C_STATE_2 BID_ORANGE_CHK1_ON
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON


[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_WEATHER
[XY] 463 283
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[BUTTON]
[SETUP] WEATHER_REQ, C_TYPE_CUSTOM 600 281
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] WEATHER_CUR, C_TYPE_CUSTOM 625 281
[BUTTONIMAGE] C_STATE_0 BID_CHK1_OFF
[BUTTONIMAGE] C_STATE_1 BID_CHK1_ON
[BUTTONIMAGE] C_STATE_2 BID_ORANGE_CHK1_ON
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON


[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_NO_EXTERNAL_VIEWS
[XY] 463 309
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[BUTTON]
[SETUP] EXT_VIEWS_REQ, C_TYPE_CUSTOM 600 307
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_NO_FRAGS
#[XY] 463 389
#[FGCOLOR] 66 129 174
#[FONT] HAETTEN_16
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_LEFT

#[BUTTON]
#[SETUP] NO_FRAGS, C_TYPE_TOGGLE 600 387
#[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
#[SOUNDBITE] SND_RADIO C_STATE_DOWN
#[FLAGBITON] C_BIT_ABSOLUTE
#[CURSOR] CRSR_F16_ON