#UI BMS4, created by Revientor (2009)
[WINDOW]
[SETUP] SAVE_WIN C_TYPE_EXCLUSIVE 422 312
[XY] 226 152 
[RANGES] 0 0 1024 768 422 312
[CLIENTAREA] 14 38 370 231 0
[FONT] OCR_EXT_14
[GROUP] 500
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 418 22 1

[TILE] 
[SETUP] NID 0 LOAD 
[XYWH] 0 0 422 312
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL 

[TEXT] 
[SETUP] TITLE_LABEL C_TYPE_LEFT 
[SETTEXT] TXT_EMPTY
[XY] 6 3 
[FONT] BANK_GOTHIC_20 
[FGCOLOR] 230 230 230 
[FLAGBITON] C_BIT_ABSOLUTE 

[SCROLLBAR] "file scroll"
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 390 37 13 233
[CLIENT] 0
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 14

[EDITBOX]
[SETUP] FILE_NAME C_TYPE_FILENAME
[XYWH] 116 280 190 20
[BGCOLOR] 0 63 30
[FONT] OCR_EXT_14
[MAXLEN] 32
[STRING] TXT_SPACE
[FGCOLOR] 0 255 0
[CURSORCOLOR] 230 230 230
[CURSOR] CRSR_TEXT
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON] 
[SETUP] CANCEL, C_TYPE_NORMAL, 8 278
[IMAGES] LOADBUT1, LOADBUT1, NULL, LOADBUT1
[LABELALL] TXT_CANCEL
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0
[GROUP] 500
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_ESCAPE

[BUTTON]
[SETUP] SAVE C_TYPE_NORMAL, 312 278
[IMAGES] LOADBUT2, LOADBUT2, NULL, LOADBUT2
[LABELALL] TXT_SAVE
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_RETURN

[BUTTON]
[SETUP] LOAD C_TYPE_NORMAL, 312 278
[IMAGES] LOADBUT2, LOADBUT2, NULL, LOADBUT2
[LABELALL] TXT_LOAD
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[FLAGBITOFF C_BIT_ENABLED
[FLAGBITON] C_BIT_INVISIBLE
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_RETURN

[BUTTON]
[SETUP] LOAD_VIRTUAL C_TYPE_NORMAL, 312 278
[IMAGES] LOADBUT2, LOADBUT2, NULL, LOADBUT2P
[LABELALL] TXT_LOAD
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[FLAGBITOFF C_BIT_ENABLED
[FLAGBITON] C_BIT_INVISIBLE
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_RETURN

[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 395 4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[GROUP] 500
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[FLAGBITON] C_BIT_ABSOLUTE
[HELPTEXT] HELP_CLOSE
[CURSOR] CRSR_F16_ON

[TREELIST]
[SETUP] FILELIST_TREE
[FONT] OCR_EXT_14
[XY] 20 3
[CLIENT] 0
[XOFFSET] 21
[YOFFSET] 17
[OPENMENU] DELETE_POP
[CURSOR] CRSR_F16_ON_RM