[WINDOW]
[SETUP] LOGFONT_WIN C_TYPE_NORMAL 270 370
[XY] 500 30
[GROUP] -200
[DRAGH] 30
[FONT] OCR_EXT_12
[RANGES] 0 0 800 600 422 312
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[WH] 460 370
[GRADIENT] 70 30
[COLOR] 0 0 100
[FLAGBITON] C_BIT_TRANSLUCENT

[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 250 6
[IMAGES] BID_CLOSE BID_CLOSE NULL NULL
[CLIENT] 0
[GROUP] -200
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_FONTS_ON_MACHINE
[FLAGBITON] C_BIT_RIGHT
[XY] 95 10

[LISTBOX]
[SETUP] LB_ENUM_FONTS 0
[XYWH] 100 10 140 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_HEIGHT
[FLAGBITON] C_BIT_RIGHT
[XY] 95 30

[EDITBOX]
[SETUP] EB_HEIGHT C_TYPE_INTEGER
[MAXLEN] 19
[FONT] BANK_GOTHIC_16
[FGCOLOR] 0 255 0
[CURSORCOLOR] 255 255 255
[MININTEGER] -100
[MAXINTEGER] 100
[XY] 100 30
[WH] 242 18
[FLAGBITON] C_BIT_VCENTER
[CURSOR] CRSR_TEXT

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_WIDTH
[FLAGBITON] C_BIT_RIGHT
[XY] 95 50

[EDITBOX]
[SETUP] EB_WIDTH C_TYPE_INTEGER
[MAXLEN] 19
[FONT] BANK_GOTHIC_16
[FGCOLOR] 0 255 0
[CURSORCOLOR] 255 255 255
[MININTEGER] -100
[MAXINTEGER] 100
[XY] 100 50
[WH] 242 18
[FLAGBITON] C_BIT_VCENTER
[CURSOR] CRSR_TEXT

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_ESCAPEMENT
[FLAGBITON] C_BIT_RIGHT
[XY] 95 70

[EDITBOX]
[SETUP] EB_ESCAPEMENT C_TYPE_INTEGER
[MAXLEN] 19
[FONT] BANK_GOTHIC_16
[FGCOLOR] 0 255 0
[CURSORCOLOR] 255 255 255
[MININTEGER] -1000
[MAXINTEGER] 1000
[XY] 100 70
[WH] 242 18
[FLAGBITON] C_BIT_VCENTER
[CURSOR] CRSR_TEXT

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_ORIENTATION
[FLAGBITON] C_BIT_RIGHT
[XY] 95 90

[EDITBOX]
[SETUP] EB_ORIENTATION C_TYPE_INTEGER
[MAXLEN] 19
[FONT] BANK_GOTHIC_16
[FGCOLOR] 0 255 0
[CURSORCOLOR] 255 255 255
[MININTEGER] -1000
[MAXINTEGER] 1000
[XY] 100 90
[WH] 242 18
[FLAGBITON] C_BIT_VCENTER
[CURSOR] CRSR_TEXT

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_WEIGHT
[FLAGBITON] C_BIT_RIGHT
[XY] 95 110

[EDITBOX]
[SETUP] EB_WEIGHT C_TYPE_INTEGER
[MAXLEN] 19
[FONT] BANK_GOTHIC_16
[FGCOLOR] 0 255 0
[CURSORCOLOR] 255 255 255
[MININTEGER] -1000
[MAXINTEGER] 1000
[XY] 100 110
[WH] 242 18
[FLAGBITON] C_BIT_VCENTER
[CURSOR] CRSR_TEXT

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_ITALIC
[FLAGBITON] C_BIT_RIGHT
[XY] 95 130

[LISTBOX]
[SETUP] LB_ITALIC 0
[XYWH] 100 130 122 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] C_STATE_1 C_TYPE_ITEM FONTED_TXT_FALSE
[ADDITEM] C_STATE_2 C_TYPE_ITEM FONTED_TXT_TRUE

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_UNDERLINE
[FLAGBITON] C_BIT_RIGHT
[XY] 95 150

[LISTBOX]
[SETUP] LB_UNDERLINE 0
[XYWH] 100 150 122 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] C_STATE_1 C_TYPE_ITEM FONTED_TXT_FALSE
[ADDITEM] C_STATE_2 C_TYPE_ITEM FONTED_TXT_TRUE

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_STRIKEOUT
[FLAGBITON] C_BIT_RIGHT
[XY] 95 170

[LISTBOX]
[SETUP] LB_STRIKEOUT 0
[XYWH] 100 170 122 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] C_STATE_1 C_TYPE_ITEM FONTED_TXT_FALSE
[ADDITEM] C_STATE_2 C_TYPE_ITEM FONTED_TXT_TRUE

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_CHARSET
[FLAGBITON] C_BIT_RIGHT
[XY] 95 190

[LISTBOX]
[SETUP] LB_CHARSET 0
[XYWH] 100 190 150 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] C_STATE_1 C_TYPE_ITEM FONTED_TXT_ANSI_CHARSET
[ADDITEM] C_STATE_2 C_TYPE_ITEM FONTED_TXT_OEM_CHARSET
[ADDITEM] C_STATE_3 C_TYPE_ITEM FONTED_TXT_SYMBOL_CHARSET
[ADDITEM] C_STATE_4 C_TYPE_ITEM FONTED_TXT_UNICODE_CHARSET

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_OUTPRECISION
[FLAGBITON] C_BIT_RIGHT
[XY] 95 210

[LISTBOX]
[SETUP] LB_OUTPRECISION 0
[XYWH] 100 210 150 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] C_STATE_1 C_TYPE_ITEM FONTED_TXT_OUT_CHARACTER_PRECIS
[ADDITEM] C_STATE_2 C_TYPE_ITEM FONTED_TXT_OUT_DEFAULT_PRECIS
[ADDITEM] C_STATE_3 C_TYPE_ITEM FONTED_TXT_OUT_STRING_PRECIS
[ADDITEM] C_STATE_4 C_TYPE_ITEM FONTED_TXT_OUT_STROKE_PRECIS

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_CLIPPRECISION
[FLAGBITON] C_BIT_RIGHT
[XY] 95 230

[LISTBOX]
[SETUP] LB_CLIPPRECISION 0
[XYWH] 100 230 150 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] C_STATE_1 C_TYPE_ITEM FONTED_TXT_OUT_CHARACTER_PRECIS
[ADDITEM] C_STATE_2 C_TYPE_ITEM FONTED_TXT_OUT_DEFAULT_PRECIS
[ADDITEM] C_STATE_3 C_TYPE_ITEM FONTED_TXT_OUT_STROKE_PRECIS

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_QUALITY
[FLAGBITON] C_BIT_RIGHT
[XY] 95 250

[LISTBOX]
[SETUP] LB_QUALITY 0
[XYWH] 100 250 150 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] C_STATE_1 C_TYPE_ITEM FONTED_TXT_DEFAULT_QUALITY
[ADDITEM] C_STATE_2 C_TYPE_ITEM FONTED_TXT_DRAFT_QUALITY
[ADDITEM] C_STATE_3 C_TYPE_ITEM FONTED_TXT_PROOF_QUALITY

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_PITCH
[FLAGBITON] C_BIT_RIGHT
[XY] 95 270

[LISTBOX]
[SETUP] LB_PITCH 0
[XYWH] 100 270 150 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] C_STATE_1 C_TYPE_ITEM FONTED_TXT_DEFAULT_PITCH
[ADDITEM] C_STATE_2 C_TYPE_ITEM FONTED_TXT_FIXED_PITCH
[ADDITEM] C_STATE_3 C_TYPE_ITEM FONTED_TXT_VARIABLE_PITCH

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_FAMILY
[FLAGBITON] C_BIT_RIGHT
[XY] 95 290

[LISTBOX]
[SETUP] LB_FAMILY 0
[XYWH] 100 290 150 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] C_STATE_1 C_TYPE_ITEM FONTED_TXT_FF_DECORATIVE
[ADDITEM] C_STATE_2 C_TYPE_ITEM FONTED_TXT_FF_DONTCARE
[ADDITEM] C_STATE_3 C_TYPE_ITEM FONTED_TXT_FF_MODERN
[ADDITEM] C_STATE_4 C_TYPE_ITEM FONTED_TXT_FF_ROMAN
[ADDITEM] C_STATE_5 C_TYPE_ITEM FONTED_TXT_FF_SCRIPT
[ADDITEM] C_STATE_6 C_TYPE_ITEM FONTED_TXT_FF_SWISS

[TEXT]
[SETUP] NID
[SETTEXT] FONTED_TXT_FACENAME
[FLAGBITON] C_BIT_RIGHT
[XY] 95 310

[EDITBOX]
[SETUP] EB_FACENAME C_TYPE_TEXT
[MAXLEN] 32
[FONT] BANK_GOTHIC_16
[FGCOLOR] 0 255 0
[CURSORCOLOR] 255 255 255
[XY] 100 310
[WH] 242 18
[FLAGBITON] C_BIT_VCENTER
[CURSOR] CRSR_TEXT

[BUTTON]
[SETUP] FONTED_EXPORT C_TYPE_NORMAL 90 340
[IMAGES] BID_FILE_OUT BID_FILE_IN NULL BID_FILE_OUT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] FONTED_TXT_CREATE
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[CURSOR] UI_F16_ON


