#UI BMS4, created by Revientor and Naldo (2009)
#This window is the file where you can select
#the type of game, logbook, setup, acmi...
[WINDOW]
[SETUP] UI_MAIN_SCREEN C_TYPE_NORMAL 1024 768
[XY] 0 0
[RANGES] 0 0 1024 768 1024 768
[GROUP] 100
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 1

#Adds the main image screen
[BITMAP]
[SETUP] NID C_STATE_DOWN MAIN_SCRN

[TILE] 
[SETUP] NID 0 KoreaKTO 
[XYWH] 404 43 221 21
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

#[ANIM]
#[SETUP] NID C_TYPE_LOOP FALCON40_ROTATE
#[XY] 34 30
#[DIRECTION] 1

#Adds the instant action button
[BUTTON]
[SETUP] IA_MAIN_CTRL C_TYPE_NORMAL 12 14
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_IA
[BUTTONIMAGE] C_STATE_1 MAIN_IA
[BUTTONIMAGE] C_STATE_2 MAIN_IA
[BUTTONIMAGE] C_STATE_3 MAIN_IA
[FLAGBITON] C_BIT_VCENTER
[GROUP] 1000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

#Adds the dogfight button
[BUTTON]
[SETUP] DF_MAIN_CTRL C_TYPE_NORMAL 136 14
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_DGFT
[BUTTONIMAGE] C_STATE_1 MAIN_DGFT
[BUTTONIMAGE] C_STATE_2 MAIN_DGFT
[BUTTONIMAGE] C_STATE_3 MAIN_DGFT
[FLAGBITON] C_BIT_VCENTER
[GROUP] 2000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

#Adds the TE button
[BUTTON]
[SETUP] TE_MAIN_CTRL C_TYPE_NORMAL 221 14
#[HOTSPOT]-5 -5 5 5
[BUTTONIMAGE] C_STATE_0 MAIN_TE
[BUTTONIMAGE] C_STATE_1 MAIN_TE
[BUTTONIMAGE] C_STATE_2 MAIN_TE
[BUTTONIMAGE] C_STATE_3 MAIN_TE
[FLAGBITON] C_BIT_VCENTER
[GROUP] 3000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

#Adds the campaign button
[BUTTON]
[SETUP] CP_MAIN_CTRL C_TYPE_NORMAL 390 14
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 MAIN_CAMP
[BUTTONIMAGE] C_STATE_1 MAIN_CAMP
[BUTTONIMAGE] C_STATE_2 MAIN_CAMP
[BUTTONIMAGE] C_STATE_3 MAIN_CAMP
[FLAGBITON] C_BIT_VCENTER
[GROUP] 4000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

#Adds the Tac Ref button
[BUTTON]
[SETUP] TACREF_CTRL C_TYPE_NORMAL 481 14
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_TR
[BUTTONIMAGE] C_STATE_1 MAIN_TR
[BUTTONIMAGE] C_STATE_2 MAIN_TR
[BUTTONIMAGE] C_STATE_3 MAIN_TR
[GROUP] 10000
[FLAGBITON] C_BIT_VCENTER
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

#Adds the Logbook button
[BUTTON]
[SETUP] LB_MAIN_CTRL C_TYPE_NORMAL 700 14
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_LOGBOOK
[BUTTONIMAGE] C_STATE_1 MAIN_LOGBOOK
[BUTTONIMAGE] C_STATE_2 MAIN_LOGBOOK
[BUTTONIMAGE] C_STATE_3 MAIN_LOGBOOK
[FLAGBITON] C_BIT_VCENTER
[GROUP] 5000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

#Adds the ACMI button
[BUTTON]
[SETUP] ACMI_CTRL C_TYPE_NORMAL 786 14
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_ACMI
[BUTTONIMAGE] C_STATE_1 MAIN_ACMI
[BUTTONIMAGE] C_STATE_2 MAIN_ACMI
[BUTTONIMAGE] C_STATE_3 MAIN_ACMI
[FLAGBITON] C_BIT_VCENTER
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[GROUP] 200000
[CURSOR] CRSR_F16_ON

#Adds the comms button
[BUTTON]
[SETUP] CO_MAIN_CTRL C_TYPE_NORMAL 630 14
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_COMMS
[BUTTONIMAGE] C_STATE_1 MAIN_COMMS
[BUTTONIMAGE] C_STATE_2 MAIN_COMMS
[BUTTONIMAGE] C_STATE_3 MAIN_COMMS
[FLAGBITON] C_BIT_VCENTER
[GROUP] 6000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[USERDATA] C_STATE_0 6000
[USERDATA] C_STATE_1 6001
[CURSOR] CRSR_F16_ON

#Adds the theater button
[BUTTON]
[SETUP] UI_THEATER_BUTTON C_TYPE_NORMAL 839 14
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 MAIN_THEATER
[BUTTONIMAGE] C_STATE_1 MAIN_THEATER
[BUTTONIMAGE] C_STATE_2 MAIN_THEATER
[BUTTONIMAGE] C_STATE_3 MAIN_THEATER
[FLAGBITON] C_BIT_VCENTER
[GROUP] 8000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

#Adds the setup button
[BUTTON]
[SETUP] SP_MAIN_CTRL C_TYPE_NORMAL 915 14
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 MAIN_SETUP
[BUTTONIMAGE] C_STATE_1 MAIN_SETUP
[BUTTONIMAGE] C_STATE_2 MAIN_SETUP
[BUTTONIMAGE] C_STATE_3 MAIN_SETUP
[FLAGBITON] C_BIT_VCENTER
[GROUP] 8000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

#Adds the exit button
[BUTTON]
[SETUP] EXIT_CTRL C_TYPE_NORMAL 974 14
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_EXIT
[BUTTONIMAGE] C_STATE_1 MAIN_EXIT
[BUTTONIMAGE] C_STATE_2 MAIN_EXIT
[BUTTONIMAGE] C_STATE_3 MAIN_EXIT
[FLAGBITON] C_BIT_VCENTER
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEDOWN
[GROUP] 9000
[CURSOR] CRSR_F16_ON

#DONT DELETRE THIS BUTTON (DEV FUCTIONS)
#[BUTTON]
#[SETUP] SAVE_FONT_CTRL C_TYPE_NORMAL 17 46
#[FONT] HAETTEN_16
#[BUTTONTEXT] C_STATE_0 FONTED_TXT_SAVE_FONT
#[UPCOLOR] 0 0 0
#[FLAGBITON] C_BIT_ABSOLUTE