#UI BMS4, created by Revientor and Amraam (2009)
[WINDOW]
[SETUP] PASSWORD_WIN C_TYPE_EXCLUSIVE 300 200
[XY] 377 273
[RANGES] 0 0 1024 768 300 200
[CLIENTAREA] 0 0 300 200 0 "entire window"
[FONT] HAETTEN_18
[GROUP] 50000
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 296 22 1

[TILE] 
[SETUP] NID 0 PASSWORD 
[XYWH] 0 0 300 200
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL 

#[TEXT] 
#[SETUP] NID C_TYPE_LEFT 
#[SETTEXT] TXT_EXIT 
#[XY] 4 0 
#[FONT] OCR_EXT_24 
#[FGCOLOR] 230 230 230 
#[flagbiton] C_BIT_ABSOLUTE 

[TEXT]
[SETUP] TITLE_BAR C_TYPE_RIGHT
[SETTEXT] TXT_LOG_IN 
[XY] 4 0 
[FONT] OCR_EXT_24 
[FGCOLOR] 230 230 230 
[FLAGBITON] C_BIT_ABSOLUTE 

[TEXT]
[SETUP] MESSAGE1 C_TYPE_LEFT
[SETTEXT] TXT_LOG_IN_MESSAGE
[XY] 13 50
[W] 250
[FGCOLOR] 230 230 230 
[FONT] BANK_GOTHIC_12
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_WORDWRAP

#[TEXT]
#[SETUP] MESSAGE2 C_TYPE_LEFT
#[SETTEXT] TXT_SPACE
#[XY] 13 70
#[FGCOLOR] 230 230 230 
#[FONT] BANK_GOTHIC_12
#[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID C_TYPE_RIGHT 
[SETTEXT] TXT_CALLSIGN
[XY] 13 100
[FGCOLOR] 230 230 230 
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE

[TILE] 
[SETUP] NID 0 PASSLIST1 
[XYWH] 139 99 122 17
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[LISTBOX] 
[SETUP] LOGBOOK_LIST 0
[XYWH] 140 100 120 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PASSWORD
[XY] 13 122
[FGCOLOR] 230 230 230 
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID 0
[XYWH] 140 121 120 20
[COLOR] 65 128 173 BLUE

[EDITBOX]
[SETUP] PASSWORD C_TYPE_PASSWORD
[XYWH] 142 122 118 16
[BGCOLOR] 0 63 30
[MAXLEN] 15
[FGCOLOR] 0 255 0
[CURSORCOLOR] 230 230 230
[FONT] OCRA_EXT_14
[CURSOR] CRSR_TEXT
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] LOG_NEW C_TYPE_NORMAL 84 165
[IMAGES] PASSBUT1 PASSBUT1 NULL PASSBUT1
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_NEW
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[CURSOR] CRSR_F16_ON
[GROUP] 50000
[HOTKEY] DIK_ESCAPE

[BUTTON]
[SETUP] OK C_TYPE_NORMAL, 190 165
[IMAGES] PASSBUT2 PASSBUT2 NULL PASSBUT2
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[GROUP] 50000
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_RETURN

[BUTTON]
[SETUP] CLOSE_WINDOW,C_TYPE_NORMAL 273 4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[GROUP] 50000
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_CANCEL