#NINJA
[WINDOW]
[SETUP] THEATER_CHANGE_WIN C_TYPE_EXCLUSIVE 330 248
[XY] 347 260 
[RANGES] 0 0 1024 768 330 248
[CLIENTAREA] 20 70 308 140 1
[FONT] OCR_EXT_14
[GROUP] 300107
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 326 22 2 "Titlebar"

[TILE] 
[SETUP] NID 0 THRCHG
[XYWH] 0 0 430 248
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL 

[TEXT] 
[SETUP] TITLE_LABEL C_TYPE_LEFT 
[XY] 10 3 
[FONT] BANK_GOTHIC_20 
[FGCOLOR] 230 230 230 
[FLAGBITON] C_BIT_ABSOLUTE 

[TEXT] 
[SETUP] THEATER_CHANGE_MSG C_TYPE_LEFT 
[SETTEXT] TXT_THR_MSG 
[MAXLEN] 200
[XY] 10 100 
[W] 280
[FONT] OCR_EXT_16 
[FGCOLOR] 230 230 230 
[FLAGBITON] C_BIT_WORDWRAP

[TEXT]
[SETUP] BLOCK_MESSAGE C_TYPE_LEFT
[SETTEXT] TXT_CLOCK_DAY_SEP
[XY] 80 70
[FGCOLOR] 230 230 230 
[FONT] OCR_EXT_12

#[BUTTON] 
[SETUP] ALERT_CANCEL, C_TYPE_NORMAL, 211 209
[IMAGES] COMMLINKBUT1, COMMLINKBUT1, NULL, COMMLINKBUT1
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CURSOR] CRSR_F16_ON
[GROUP] 19600