#UI BMS4, created by Revientor and Naldo (2009)
#This controls the Theater Select Window from the main UI
[WINDOW]
[SETUP] UI_THEATER_WINDOW C_TYPE_NORMAL 1024 768
[XY] 0,0
[RANGES] 0 0 1024 768 1024 768
[CLIENTAREA] 177 82 236 297 1
[XYWH] 171 81 242 308
[FONT] OCR_EXT_14
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 2
[GROUP] 3203

[BITMAP]
[SETUP] NID,C_STATE_DOWN, TEATROREVIENTOR
[TYPE] C_STATE_DOWN

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 162 74 260 438
[PERCENT] 30
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE

#load theater box treelist
[BOX]
[SETUP] NID 0
[XYWH] 171 81 242 300
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

[BOX]
[SETUP] NID 0
[XYWH] 170 80 244 302
[COLOR] 0 0 0 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

[TREELIST]#this is the list modify it.. ;)
[SETUP] FILELIST_TREE
[FONT] OCR_EXT_14
[XY] 5 3
[CLIENT] 1
[XOFFSET] 0
[YOFFSET] 17
[CLUSTER] 3001
#[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON

[SCROLLBAR]
[SETUP] UI_THEATER_SCROLL C_TYPE_VERTICAL
[XYWH] 418 81 13 300
[CLIENT] 1
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
#[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 12

[BITMAP]#header
[SETUP] NID 0 GUN_THEATER_HEAD
#[SETUP] NID 0 THEATERSEL
[XY] 379 36
#[XY] 461 79
[FLAGBITON] C_BIT_VCENTER

#theaterpicture
[BUTTON]
[SETUP] UI_THEATER_IMAGE C_TYPE_CUSTOM
[XY] 650 80
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_MOUSEOVER

[BOX]
[SETUP] NID 0
[XYWH] 650 80 300 375
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

#OK button (select theater and activates it but remains in TheaterWindow)
[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 810 460
[IMAGES] TRANSPARENT1_LARGE, TRANSPARENT1_LARGE NULL TRANSPARENT1_LARGE
[GROUP] 500
[CLUSTER] 8001
[FLAGBITON] C_BIT_ABSOLUTE
#[LABELALL] TXT_OK
#[FONT] BANK_GOTHIC_16
#[UPCOLOR] 0 0 0
#[DOWNCOLOR] 0 255 0
#[DISCOLOR] 0 0 0
#[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CURSOR] CRSR_F16_ON

#cancel button (back to MAIN but no changes made avoids popup )
[BUTTON]
[SETUP] CANCEL, C_TYPE_NORMAL, 700 460
[IMAGES] TRANSPARENT2_LARGE, TRANSPARENT2_LARGE NULL TRANSPARENT2_LARGE
[GROUP] 8000
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CURSOR] CRSR_F16_ON

#ADD THEATER button 
[BUTTON]
[SETUP] UI_NEW_THEATER , C_TYPE_NORMAL, 240 520
[IMAGES] TRANSPARENT3_LARGE, TRANSPARENT3_LARGE NULL TRANSPARENT3_LARGE
[GROUP] 3000
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CURSOR] CRSR_F16_ON

#back button (goes back to Main)
[BUTTON]
[SETUP] UI_THEATER_BACK, C_TYPE_NORMAL 940 14
#[HOTSPOT] -5 -5 5 5
[HOTKEY] DIK_ESCAPE
[BUTTONIMAGE] C_STATE_0 MAIN_BACK
[BUTTONIMAGE] C_STATE_1 MAIN_BACK
[BUTTONIMAGE] C_STATE_2 MAIN_BACK
[BUTTONIMAGE] C_STATE_3 MAIN_BACK
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEUP
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[FLAGBITON] C_BIT_VCENTER
[GROUP] 3000
[CURSOR] CRSR_F16_ON

[BOX]
[SETUP] NID 0
[XYWH] 171 396 244 108
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

[BOX]
[SETUP] NID 0
[XYWH] 170 395 246 110
[COLOR] 0 0 0 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

[TEXT]
[SETUP] UI_THEATER_DESC
[MAXLEN] 200
[SETTEXT] TXT_SPACE
[XYWH] 177 400 232 100
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_12
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_WORDWRAP