[POPUPMENU]
[SETUP] THR_SELECT_POPUP, C_TYPE_EXCLUSIVE POP_SUBMENU BID_DROPORB
[NORMCOLOR] 255 255 255
[SELCOLOR] 255 255 255
[DISCOLOR] 100 100 100
[BARCOLOR] 0
[BGCOLOR] 96 189 255
[BORDERCOLOR] 0
[OPAQUE] 60
[FLAGBITON] C_BIT_TRANSLUCENT
[FONT] OCR_EXT_12


[ADDITEM] THEATER_SELECT C_TYPE_MENU TXT_THEATER 
#[ADDITEM] NID C_TYPE_NOTHING TXT_SPACE 0 
#[ADDITEM] WIND_DIR_MENU C_TYPE_MENU TXT_WIND_DIR 
#[ADDITEM] WIND_SPEED_MENU C_TYPE_MENU TXT_WIND_VELOCITY 
#[ADDITEM] CLOUD_MENU C_TYPE_MENU TXT_CLOUD_COVER

#Add new theaters here
[ADDITEM] THR_KOREA C_TYPE_RADIO TXT_KOREA THEATER_SELECT
[RADIOGROUP] THR_KOREA 5
[STATE] THR_KOREA C_STATE_1

#[ADDITEM] CLOUD_0 C_TYPE_RADIO TXT_CLR CLOUD_MENU 
#[RADIOGROUP] CLOUD_0 1
#[ADDITEM] CLOUD_1 C_TYPE_RADIO TXT_SCT CLOUD_MENU 
#[RADIOGROUP] CLOUD_1 1
#[ADDITEM] CLOUD_2 C_TYPE_RADIO TXT_BKN CLOUD_MENU 
#[RADIOGROUP] CLOUD_2 1
#[ADDITEM] CLOUD_4 C_TYPE_RADIO TXT_OVC CLOUD_MENU 
#[RADIOGROUP] CLOUD_4 1
#[ADDITEM] CLOUD_5 C_TYPE_RADIO TXT_VRB CLOUD_MENU 
#[RADIOGROUP] CLOUD_5 1
#[STATE] CLOUD_5 C_STATE_1

#[ADDITEM] WIND_N C_TYPE_RADIO TXT_NORTH WIND_DIR_MENU 
#[RADIOGROUP] WIND_N 2
#[ADDITEM] WIND_NE C_TYPE_RADIO TXT_NE WIND_DIR_MENU 
#[RADIOGROUP] WIND_NE 2
#[ADDITEM] WIND_E C_TYPE_RADIO TXT_EAST WIND_DIR_MENU 
#[RADIOGROUP] WIND_E 2
#[ADDITEM] WIND_SE C_TYPE_RADIO TXT_SE WIND_DIR_MENU 
#[RADIOGROUP] WIND_SE 2
#[ADDITEM] WIND_S C_TYPE_RADIO TXT_SOUTH WIND_DIR_MENU 
#[RADIOGROUP] WIND_S 2
#[ADDITEM] WIND_SW C_TYPE_RADIO TXT_SW WIND_DIR_MENU 
#[RADIOGROUP] WIND_SW 2
#[ADDITEM] WIND_W C_TYPE_RADIO TXT_WEST WIND_DIR_MENU 
#[RADIOGROUP] WIND_W 2
#[ADDITEM] WIND_NW C_TYPE_RADIO TXT_NW WIND_DIR_MENU 
#[RADIOGROUP] WIND_NW 2
#[ADDITEM] WIND_DIR_VRB C_TYPE_RADIO TXT_VRB WIND_DIR_MENU 
#[RADIOGROUP] WIND_DIR_VRB 2
#[STATE] WIND_DIR_VRB C_STATE_1

#[ADDITEM] WIND_5 C_TYPE_RADIO TXT_5KT WIND_SPEED_MENU 
#[RADIOGROUP] WIND_5 3
#[ADDITEM] WIND_10 C_TYPE_RADIO TXT_10KT WIND_SPEED_MENU 
#[RADIOGROUP] WIND_10 3
#[ADDITEM] WIND_15 C_TYPE_RADIO TXT_15KT WIND_SPEED_MENU 
#[RADIOGROUP] WIND_15 3
#[ADDITEM] WIND_20 C_TYPE_RADIO TXT_20KT WIND_SPEED_MENU 
#[RADIOGROUP] WIND_20 3
#[ADDITEM] WIND_25 C_TYPE_RADIO TXT_25KT WIND_SPEED_MENU 
#[RADIOGROUP] WIND_25 3
#[ADDITEM] WIND_SPD_VRB C_TYPE_RADIO TXT_VRB WIND_SPEED_MENU 
#[RADIOGROUP] WIND_SPD_VRB 3
#[STATE] WIND_SPD_VRB C_STATE_1 
